﻿@model IEnumerable<SampleLogger.Web.Code.LogMessage>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@foreach (var msg in Model)
{
  <li>
    @msg.Level - @msg.Message - @msg.Exception
  </li>
}